* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 0;
  background:
    linear-gradient(rgba(0 0 0 / 40%), rgba(0 0 0 / 20%)),
      url("../images/cartimg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  position: relative;
}

header {
  font-size: 30px;
  margin-top: 0;
}

header,
footer {
  color: white;
  background-color: #004a5585;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
}

footer {
  float: right;
  font-size: 0.75rem;
  font-style: italic;
  color: chartreuse;
}

.footer a {
  text-decoration: none;
  color: white;
}

main {
  padding: 0 3rem;
  min-height: 100vh;
  color: white;
}

/* .wrapper {
  margin: 0 auto -2em;
  min-height: 100%;
  background-color: #04b321;
} */

.div-quantity {
  flex-basis: 50%;
}

.div-for-form {
  flex: 1;
  width: 100%;
}

#item-input {
  width: 42vw;
}

.label-input {
  font-size: 1.25rem;
  min-height: 1rem;
}

#quantity-input {
  width: 100%;
}

form {
  width: inherit;
  width: 100%;
}

label {
  display: block;
  line-height: 1.5em;
}

input {
  padding: 1em;
  background-color: #f6f6f6;
  outline: none;
  width: 100%;
}

.inputcreated {
  padding: 0.5rem;
  outline: none;
  width: 75%;
}

/* .move {
  background-color: #04b321;
  color: #fff;
 right: 35px;
  padding: 10px 5px;
  position: absolute;
  top: 2px;
  margin: 0 10px;
} */

.submit {
  color: white;
  background-color: #04b321;
  border: 0;
  padding: 1em;
  width: 5rem;
  margin: 0.75em 0;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0 0 0 /30%), 0 -3px 5px rgba(0 0 0 /30%);
}

.header-presentation {
  display: flex;
  column-gap: 3vw;
  margin: 1.5rem 0;
}

.imag {
  width: 40vw;
  height: 170px;
}

.lists {
  min-height: 100vh;
  position: relative;
}

.span-edit {
  color: #fff;
  font-style: italic;
  font-size: small;
}

.btn-text {
  display: flex;
}

.span-edit::before {
  content: "(... ";
}

.span-edit::after {
  content: ")";
}

.icon {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.25em;
  fill: #004a55;
}

#bought-list li::before,
#shopping-list li::before {
  content: "";
  display: inline-block;
  background-size: 100%;
  height: 0.9em;
  width: 1em;
  margin-right: 0.3em;
}

#shopping-list li::before {
  background-image: url("https://res.cloudinary.com/ddy54k4ks/image/upload/v1454106412/svg/checkmark2.svg");
}

#bought-list li::before {
  background-image: url("https://res.cloudinary.com/ddy54k4ks/image/upload/v1454106412/svg/checkmark.svg");
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

li {
  color: #0b2327;
  padding: 0.75em;
  margin: 0.5em 0;
  border: 1px solid #004a55;
  position: relative;
  transition: background-color 0.2s;
  background-color: #f6f6f6;
}

li:hover {
  background-color: #a7cdcc;
}

.quantity {
  color: #8a8b8c;
}

.quantity::before {
  content: " (";
}

.quantity::after {
  content: ")";
}

.edit-button {
  width: 60px;
  border: 0;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.fa-cart-arrow-down,
.fa-pencil {
  color: #fff;
  font-size: 30px;
  width: 8px;
}

.delete {
  float: right;
  padding: 10px;
  position: absolute;
  right: 0;
  color: white;
  top: -5.4%;
  background-color: #f80909;
  margin: 5px 8px 10px;
  width: auto;
}

.delete::after {
  clear: both;
}

.fa-pencil {
  width: 0.5rem;
  height: 0.5rem;
}

.edit {
  float: right;
  position: absolute;
  right:2.2rem;
  width: 2rem;
  height: 2.4rem;
  background-color: #04b321;
  padding-right: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 8px 10px;
  top: -5.4%;
}

#bought-list li {
  background-color: #f6f6f6;
  caret-color: #091d8f;
  caret-shape: underscore;
}

#bought-list li .quantity {
  color: #091d8f;
}

.listlabel {
  border-bottom: 2px solid #09c0f8;
  font-size: 1.3em;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #item-input {
    width: 100%;
  }

  .span-edit {
    position: absolute;
    top: 45vh;
    left: 60px;
    color: rgb(251 252 249);
    font-size: 10px;
    font-weight: bold;
  }

  .div-for-form {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: 0 1rem;
  }

  .div-quantity {
    width: 50%;
  }

  #item-input,
  #quantity-input {
    height: 35px;
  }

  .span-edit {
    position: absolute;
    top: 42vh;
    left: 15px;
  }
}

@media screen and (max-width: 320px) {
  main {
    padding: 0 0.75rem;
  }
}
